*{
	padding:0;
	margin:0;
}
.container{
	width:100%;
	list-style:none;
}
.nav-bar{
	background-color:orange;
	height:50px;
	width:100%;
	padding:1px;
}
.nav-bar ul li{
margin:1% 2%;
	float:left;
	list-style:none;
}
.header {
	width:100%;
	background:dimgrey;
	height:100px;
	padding-top:2px;
}
.img{
	margin-top:30px;
	margin-left:20px;
	float:left;
	
}
.home{
	margin-top:50px;
	margin-left:70%;
}
.home ul li{
	float:left;
	list-style:none;
	margin-left:20px;
	color:white;
	
}
.c1{
	text-align:center;
	
	background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("Slider.jpg");
	width:100%;
	height:500px;
}
.hh{
	color:skyblue;
	margin-top:50px;
	font-size:25px;
}
.hhh{
	color:skyblue;
	margin-top:10px;
	font-size:75px;
}
.hhhh{
	color:orange;
	margin-top:10px;
	font-size:80px;
}
.hc1{
	color:skyblue;
	margin-top:15px;
}
.btn{
/* padding:1% 1.8%; */
color:white;
border-radius:20px;
font-weight:bold;
margin:0% 2%;
outline:none;
background:yellow;
width:150px;
height:40px;
margin-top:20px;
opacity:0.6;
border:none;

}
.btn1{

color:white;
border-radius:20px;
font-weight:bold;
margin:0% 2%;
outline:none;
background:yellow;
width:150px;
height:40px;
margin-top:20px;
opacity:0.6;
border:none;
}
.c2{
	height:550px;
	width:100%;
	background:white;
}
.c2 img{
	margin-top:110px;
	margin-left:60%;
}
.c2 .img1{
	margin-top:-410px;
	margin-left:950px;
}
.c3{
	width:50%;
	height:550px;
	margin-top:-480px;
}
.e1{
	margin-left:5%;
	margin-top:50px;
	color:yellow;
}
.e2{
	margin-left:5%;
	margin-top:10px;
	color:dodgerblue;
	font-size:26px;
}
.c3 p{
	margin-left:5%;
	margin-top:20px;
}
.btn2{
border-radius:20px;
font-weight:bold;
margin:0% 2%;
outline:none;
background:yellow;
width:150px;
height:40px;
margin-top:100px;
opacity:0.6;
border:none;
margin-left:5%;
}
.c4{
	width:80%;
	height:700px;
	background:lightcyan;
	margin-left:20vh;
	padding:1px;
}
.e3{
	text-align:center;
	margin-top:30px;
	
}
.e3 p{
	text-align:center;
	margin-top:20px;
}
.c5
{
	width:20%;
	height:200px;
	margin-left:20px;
	margin-top:40px;
}
.c6{
	width:20%;
	height:200px;
	margin-left:25%;
	margin-top:-200px;
}
.c7{
	width:20%;
	height:200px;
	margin-left:50%;
	margin-top:-200px;
}
.c8{
	width:20%;
	height:200px;
	margin-left:75%;
	margin-top:-200px;
}
.c9{
	width:20%;
	height:200px;
	margin-left:3%;
	margin-top:20px;
	
	
}
.c10{
	width:20%;
	height:200px;
	margin-left:27%;
	margin-top:-270px;
}
.c11{
	width:20%;
	height:200px;
	margin-left:53%;
	margin-top:-270px;
}
.c12{
	width:20%;
	height:200px;
	margin-left:77%;
	margin-top:-270px;
}
.e9 {
	font-size:8px;
	text-align:center;
	margin-top:70px;
}
.e9 p{
	text-align:center;
	font-size:20px;
	margin-top:10px;
}
.e10{
	font-size:8px;
	text-align:center;
	margin-top:70px;
}
.e10 p {
	text-align:center;
	font-size:20px;
	margin-top:10px;
}
.e11{
	font-size:9px;
	text-align:center;
	margin-top:70px;
}
.e11 p{
	text-align:center;
	font-size:20px;
	margin-top:10px;
}
.e12{
	font-size:9px;
	text-align:center;
	margin-top:70px;
}
.e12 p{
	text-align:center;
	font-size:20px;
	margin-top:10px;
}
.c13 h1{
height:100px;
width:85%;
margin-left:7%;
text-align:center;
}
.i13  img{
	height:400px;
	width:25%;
	margin-left:7%;
	float:left;
}
.i14 img{
	height:220px;
	width:28%;
	margin-left:2%;
} 
.i15 img{
	height:220px;
	width:28%;
	margin-right:8%;
	margin-top:-225px;
	float:right;
}
.uh{
	margin-left:20px;
	width:20%;
	float:left;
}

.uh h2{
	color:blue;
	font-size:15px;
}

.uh1{margin-left:10%;}
.uh p{
	color:blue;
	font-size:13px;
	margin-top:20px;
	margin-right:25%;
}
.bt1 {
	padding:3% 3.8%;
color:white;
border-radius:15px;
font-weight:bold;
margin:0% 2%;
outline:none;
background:yellow;
border:none;
margin-top:25px;
}
.bt2 {
	padding:3% 3.8%;
color:white;
border-radius:15px;
font-weight:bold;
margin:0% 2%;
outline:none;
background:yellow;
border:none;
margin-top:25px;
}

.clear{
	clear:both;
}

.c14{
	background-image:url("portf.jpg");
	width:84%;
	height:600px;
	margin-left:7%;
	padding:1px;
}


.opacity{
	background:gold;
	width:100%;
	height:600px;
	opacity:0.7;
	padding:1px;
}
.c14 h1{
	text-align:center;
	color:white;
	margin-top:20px;
}
.c14 p{
	text-align:center;
	color:white;
	margin-top:30px;
}
.bt3{
	padding:1% 1.8%;
color:white;
border-radius:50px;
font-weight:bold;
margin:0% 2%;
outline:none;
background:blue;
border:none;
margin-top:75px;
margin-left:29%;
}
.bt4{
	padding:1% 1.8%;
color:white;
border-radius:50px;
font-weight:bold;
margin:0% 2%;
outline:none;
background:transparent;
border:none;
margin-top:25px;
}
.bt5{
	padding:1% 1.8%;
color:white;
border-radius:50px;
font-weight:bold;
margin:0% 2%;
outline:none;
background:transparent;
border:none;
margin-top:25px;
}
.bt6{
	padding:1% 1.8%;
color:white;
border-radius:50px;
font-weight:bold;
margin:0% 2%;
outline:none;
background:transparent;
border:none;
margin-top:25px;
}
.c15 img{
	margin-left:2%;
	height:320px;
	width:40%;
	margin-top:20px;
	float:left;
}
.c16 img{
	margin-left:43%;
	height:160px;
	width:20%;
	margin-top:-320px;
	float:left;
}
.c17 img{
	margin-left:64%;
	height:160px;
	width:20%;
	margin-top:-320px;
	float:left;
}
.c18 img{
	margin-left:43%;
	height:150px;
	width:20%;
	margin-top:-150px;
	float:left;
}
.c19 img{
	margin-left:64%;
	height:150px;
	width:20%;
	margin-top:-150px;
	float:left;
}
.c20 {
	width:84%;
	height:500px;
	margin-left:7%;
	padding:1px;
	
}
.c20 h1{
	text-align:center;
	margin-top:45px;
}
.c20 p{
	text-align:center;
	margin-top:20px;
}
.c21 {
	height:220px;
	width:23%;
	background:lightcyan;
	border-radius:20px;
	margin-left:5%;
	margin-top:60px;
		text-align:center;
	
}
.c21 h2{
	font-size:70px;
	margin-left:-170px;
}
.c22{
	height:220px;
	width:23%;
	background:lightcyan;
	border-radius:20px;
	margin-left:35%;
	margin-top:-260px;
	text-align:center;
}
.c22 h1{
	font-size:70px;
	margin-left:-170px;
}
.c23{
height:220px;
	width:23%;
	background:lightcyan;
	border-radius:20px;
	margin-left:65%;
	margin-top:-260px;
	text-align:center;
}
.c23 h1{
	font-size:70px;
	margin-left:-170px;
}
.c24 img{
	margin-top:10px;
	margin-left:12%;
	float:left;
}
.c25 img{
	margin-top:10px;
	margin-left:23%;
	float:left;
}
.c26 img{
	margin-top:10px;
	margin-left:24%;
	
}
.c27{
	background-color:yellow;
	width:73%;
	height:170px;
	margin-left:10%;
	margin-top:20px;
	padding:1px;
	
}
.c27 h1{
	margin-top:50px;
	font-size:25px;
	margin-left:3%;
}
.c27 h2{
	font-size:19px;
	margin-left:3%;
}
.c28 input{
	float:right;
	margin-top:-50px;
	height:25px;
	width:20%;
	border-radius:20px;
	margin-right:34%;
	border:none;
}
.c29 input{
	float:right;
	margin-top:-50px;
	height:25px;
	width:20%;
	border-radius:20px;
	margin-right:10%;
	border:none;
}
.c30 input{
	float:right;
	margin-top:10px;
	height:25px;
	width:30%;
	border-radius:20px;
	margin-left:45%;
	border:none;
	float:left;
}
.bt8{
	margin-right:15%;
	float:right;
	margin-top:12px;
	border-radius:5px;
	height:25px;
	width:8%;
	background-color:blue;
	color:white;
	border:none;
}
.c32 img{
	width:73.5%;
	margin-left:10%;
}
.c33{
	width:73.5%;
	height:80px;
	margin-left:10%;
	background-color:blue;
	margin-top:-5px;
	padding:1px;
}
.c33 h1{
	color:white;
	text-align:center;
	font-size:17px;
	margin-top:20px;
}